.document-analyser-wrapper {
    width: 94%;
}

.DA-header-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 40px 8px 24px;
    border-bottom: 1px solid #8585854D;
    align-items: flex-end;
}

.img-search-color-bg {
    background-color: #F9FAF8;
}

input[type="search"] {
  border: none;
  outline: none;
}

.light-black-font {
  color: #242424B2;
}

.vertex-input {
    width: 90%;
    font-size: 1rem;
    background-color: #F9FAF8;
    border: none;
    backdrop-filter: blur(10px);
    padding: 8px 12px 8px 12px
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  border: none;
}

.header-page-info-wrapper{
    display: flex;
    justify-content: space-between;
}



  .header-data-sizing{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4px 12px 4px 24px;
  }

.gap-10 {
  gap: 10px;
}
  .font-size-16px {
    font-size: 1rem;
  }
  .font-size-8px {
    font-size: 0.5rem;
  }
  .font-size-14px{
    font-size: 14px;
  }

  .page-header-container {
    padding: 8px 40px 8px 32px;
    border-bottom: 1px solid #8585854D;
  }

  .left-vertex-input-wrapper{
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 0.4px solid #24242466;
  border-radius: 8px;  
  background-color: #F9FAF8;
  overflow: hidden;  
  }

  .left-DAHeader-wrapper{
    width: 50%;
    background-color: #F9FAF8;
  }

  .right-DAheader-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 17px;
  }

  .button-info-wrapper {
    display: flex;
    font-size: 0.8rem;
    justify-content: left;
    align-items: center;
    justify-content: left;
  }

.back-button-DA-wrapper{
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: left;
}
  /* .back-button-DA {
    width: 7px;
    height: 12px;
  } */


  .page-info-header {
    display: flex;
    justify-content: left;
    font-size: 1rem;
    width: 100%;
  }
  
  .page-header-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
  }

  .add-columns-wrapper {
    background-color: #B486FF;
    display: flex;
    border: 1px solid #FFFFFF33;
    border-radius: 8px;
    gap: 10px;
    cursor: pointer;
    padding: 12px;
    align-items: center;
  }

  .submit-button-wrapper {
    background-color: #B486FF;
    display: flex;
    border: 1px solid #FFFFFF33;
    border-radius: 8px;
    gap: 10px;
    cursor: pointer;
    padding: 12px 24px;
    align-items: center;
  }

  .use-internet-wrapper {
    background-color: #F9FAF8;
    display: flex;
    border: 0.4px solid #24242466;
    border-radius: 8px;
    gap: 12px;
    cursor: pointer;
    padding: 8px;
  }

  .cancel-control-DA-wrapper {
    display: flex;
    align-items: center;
  }


  .cancel-control-DA{
    border: 1px solid #8585854D;
    border-radius: 8px;
    padding: 12px 24px;
    background-color: #FFFFFF;
  }

  .bg-color-grey {
    background-color: #F2F2F2;
  }

  .display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table-container {
    display: flex;
    border-bottom: 1px solid #8585854D(133, 133, 133, 0.3);
    overflow: hidden;
    height: 400px;
    width: 100%;
  }

  .data-table {
    width: 100%;
    border-collapse: collapse;
    min-width: max-content; 
  }
  
  .data-table th,
  .data-table td {
    border-width: 0.5px 0px 0.5px 0px;
    border-style: solid;
    border-color: #242424E5;
    text-align: left;
    padding: 12px 16px;
    white-space: nowrap;
  }
  
  .data-table th {
    background-color: #F9F9F9;
    position: sticky;
    top: 0;
    z-index: 2; 
    color: #242424E5;
  }
  
  .data-table td {
    text-overflow: ellipsis;
    font-size: 14px;
  }
  .action-buttons, .folder-upload-container, .actions-buttons-container {
    display: flex;
    justify-content: flex-start;
    gap: 17px;
    align-items: center;
    padding: 8px 40px 8px 24px;
}

  
  .da-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    min-width: max-content;
    table-layout: auto;
  }

  .tbody {
    font-size: 14px;
    padding: 12px 16px;
    gap: 8px;
  }
  
    
    .scrollable-table {
      overflow-x: auto; 
      overflow-y: auto; 
      height: 100%;
      width: 100%;
    }
    
  
  .action-buttons {
    display: flex;
    justify-content: flex-start;
  }
  
  .actions-buttons-container {
    display: flex;
    justify-content: flex-start;
    gap:17px;
    align-items: center;
    padding: 8px 40px 8px 24px;
  }

  

.folder-upload-container{
    display: flex;
    justify-content: flex-start;
    gap:17px;
    align-items: center;
    padding: 8px 40px 8px 24px;
  }

.border-radius-4px {
  border-radius: 4px;
}

  .filter-buttons-wrapper {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    border: 1px solid #24242466;
    border-radius: 4px;
    cursor: pointer;
    justify-content: space-between;
    gap:12px;
  }

  .filter-buttons-wrapper-right{
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    border: 1px solid #24242466;
    border-radius: 4px;
    cursor: pointer;
    justify-content: space-between;
    gap:12px;
    padding: 7px 12px;
  }

.size-32px{
  height: 32px;
  width: 32px;
}


  span 
  {
    font-family: 'DM Sans';
  }
  
  .summary-card-container {
    padding: 12px 40px 12px 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

.summary-output-wrapper {
  border: 1px solid #0000004D;
  gap: 24px;
  padding: 12px;
  border-radius: 6px;
}

  .summary-card-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .copy-share-buttons {
    cursor: pointer;
    display: flex;
    gap: 24px;
    align-items: flex-end;
    justify-content: flex-start;
  }
  
  .toggle-label {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .toggle-input {
    display: none; 
  }
  
  .toggle-slider {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-slider:before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
  }
  
  .toggle-input:checked + .toggle-slider {
    background-color: #4caf50;
  }
  
  .toggle-input:checked + .toggle-slider:before {
    transform: translateX(20px);
  }

  .popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 291px;
    border-radius: 12px;
    gap: 10px;
    height: 569px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 0px #00000040;
    z-index: 10;
  }

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
  }

  .dropzone {
    border: 1px solid #24242440;
    padding: 52px;
    text-align: center;
    gap:16px;
    cursor: pointer;
  }

  .file-list {
    margin-top: 10px;
  }

  button {
    padding: 10px 15px;
    cursor: pointer;
  }
