.dis-flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.flex-dir-row {
  flex-direction: row;
}


.bg-color-white {
  background-color: white;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-align {
  align-items: center;
}

.end-align {
  align-items: end;
}

.just-end {
  justify-content: flex-end;
}

.just-start {
  justify-content: flex-start;
}

.just-center {
  justify-content: center;
}

.just-space {
  justify-content: space-between;
}

.flex-dir-col {
  flex-direction: column;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.h5-b {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 28px;
}

/* Bold versions of the classes */
.h1-b {
  font-size: 40px;
  font-weight: 700;
  /* Bold weight */
  letter-spacing: 0px;
  line-height: 48px;
}

.h2-b {
  font-size: 32px;
  font-weight: 700;
  /* Bold weight */
  letter-spacing: 0px;
  line-height: 40px;
}

.h3-b {
  font-size: 28px;
  font-weight: 700;
  /* Bold weight */
  letter-spacing: 0px;
  line-height: 36px;
}

.h4-b {
  font-size: 24px;
  font-weight: 700;
  /* Bold weight */
  letter-spacing: 0px;
  line-height: 32px;
}

.h5 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 28px;
}

.h6-b {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 24px;
}

.h6 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
}

.p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 180%;
}

.h7-b {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.h7 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.h8-b {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 18px;
}

.h8 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 18px;
}

.h9 {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 15px;
}

.heigh-width-25 {
  width: 25px;
  height: 25px;
}

.grey {
  color: #6A737D;
}

.gap-1px {
  gap: 1px;
}

.gap-7px {
  gap: 7px;
}

.gap-4px {
  gap: 4px !important;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-36 {
  gap: 36px;
}

.gap-48 {
  gap: 48px
}

.gap-52 {
  gap: 52px;
}

.no-border {
  border: 0px;
}

.border-bottom {
  border-bottom: 1px solid #E0E0E0;
}

.html {
  font-size: 16px;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}